<md-toolbar class="dialogToolbar">
    <div class="md-toolbar-tools">
        <h2>Editar rodízio</h2>
    </div>
</md-toolbar>
<md-dialog-content>
    <form name="formEditaRodizio" class="formEditaRodizio">
        <md-input-container layout="column">
            <label>Rodízio:</label>
            <md-select ng-model="rodizioSelecionado">
                <md-option ng-value="rodizio"
                           ng-repeat="rodizio in rodizios">
                    {{rodizio.nome}}
                </md-option>
            </md-select>
        </md-input-container>
        <div layout="row" layout-align="center center">
            <md-button
                    ng-click="envia()"
                    class="md-raised md-warn botaoConfirma">
                Continuar
            </md-button>
            <md-button
                    ng-click="fechaDialogo()"
                    class="md-raised md-warn botaoComum">
                Fechar
            </md-button>
        </div>
    </form>
</md-dialog-content>

<div style="visibility: hidden">
    <div id="dialogoAdicionaRodizio2" class="md-dialog-container">
        <md-dialog class="dialogoAdicionaRodizio" aria-label="Adicionar rodizio">
            <dialogoadicionarodizio participantes="participantes"
                                    editando="editando"
                                    rodizioselecionado="rodizioSelecionado">
            </dialogoadicionarodizio>
        </md-dialog>
    </div>
</div>